<html>

	<head>
		<title>The Gossip Projet</title>
  </head>

  <body >

    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    	
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>

   </body>

</html>